# PANDAS

In Python, Pandas is a powerful and widely used open-source library used for data manipulation and analysis. It provides easy-to-use data structures and data analysis tools for handling structured data. The primary data structures in Pandas are Series (one-dimensional labeled array) and DataFrame (two-dimensional labeled data structure with rows and columns).

## Object Series

 A Series is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc.). It is similar to a column in a DataFrame or a single column of data.

In [140]:
# Import library
import pandas as pd
import numpy as np

#### Example

##### Implicit Index

Implicit indexing refers to the default integer-based index labels automatically assigned to elements in a data structure. When you create a data structure like a list, tuple, or NumPy array without specifying custom index labels, it will have implicit indexing where elements are accessed using integer indices starting from 0.

In [129]:
import pandas as pd

data = [1, 3, 5, 7, 9]
series = pd.Series(data)

In [3]:
print(series)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In this example:

- We import Pandas as pd.
- We create a Python list data containing integers [1, 3, 5, 7, 9].
- We use the pd.Series() function to create a Pandas Series from the list data.
- We print the Series.
    
The output shows a one-dimensional labeled array (Series) with the index on the left and the corresponding values on the right. By default, when you create a Series from a list, Pandas assigns numerical index labels starting from 0. In this case, the values of the Series are [1, 3, 5, 7, 9] with index labels 0, 1, 2, 3, and 4 respectively.

In [6]:
# Convert from Series to array
series.values

array([1, 3, 5, 7, 9], dtype=int64)

In [7]:
# Displaying Index
series.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
series[2]

5

##### Explicit Index

Explicit indexing refers to the use of user-defined or custom index labels to access elements in a data structure. In this case, you specify meaningful labels for each element in the data structure, making it easier to access elements by their associated labels instead of relying on integer indices.

In [13]:
names = ['Alnima', 'Andhito', 'Shafira', 'Laksmi', 'Aswin']
data = [100, 200, 300, 400, 500]
names_with_data = pd.Series(names, index=data)

In [14]:
print(names_with_data)

100     Alnima
200    Andhito
300    Shafira
400     Laksmi
500      Aswin
dtype: object

In [15]:
names_with_data.values

array(['Alnima', 'Andhito', 'Shafira', 'Laksmi', 'Aswin'], dtype=object)

In [16]:
names_with_data.index

Index([100, 200, 300, 400, 500], dtype='int64')

In [24]:
# Index Explicit
names_with_data[100]

'Alnima'

In [25]:
# Index Implicit
names_with_data[2]

KeyError: 2

##### Data Slicing in Pandas

In [26]:
data = [10, 20, 30, 40, 50]
index_labels = ['A', 'B', 'C', 'D', 'E']
series = pd.Series(data, index=index_labels)

In [27]:
print(series)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [28]:
# Slicing using explicit index labels
slice1 = series['B':'D']  # Slicing from index label 'B' to 'D' (inclusive)
print("Slice using explicit index labels:")
print(slice1)

Slice using explicit index labels:
B    20
C    30
D    40
dtype: int64

In [31]:
# Slicing using implicit integer index
slice2 = series[0:1]  # Slicing from index position 0 to 1 (exclusive)
print("Slice using implicit integer index:")
print(slice2)

Slice using implicit integer index:
A    10
dtype: int64

In this example:

- We create a Pandas Series series with custom index labels 'A', 'B', 'C', 'D', and 'E' and their corresponding values [10, 20, 30, 40, 50].
- We demonstrate two ways of slicing the Series:
-- Slicing using explicit index labels ('B':'D'), which includes the elements from index label 'B' to 'D' (inclusive).
-- Slicing using implicit integer index (0:1), which includes the elements from index position 1 (exclusive).
- We print the slices to observe the sliced portions of the Series. Both slices produce the same output because the index labels and integer positions are aligned in this case. However, slicing with explicit index labels provides more clarity and flexibility, especially when dealing with non-sequential or non-integer index labels.

### Loc & Iloc

In Pandas, both loc and iloc are used for indexing and selecting data from a DataFrame or a Series:

loc:
- loc is primarily label-based indexing, meaning that you use the actual index labels to select data.
- It accepts label-based inputs for both rows and columns.
- You can use it to select specific rows and columns by their labels.
- The syntax for loc is df.loc[row_labels, column_labels].
    
iloc:
- iloc is primarily integer-based indexing, meaning that you use integer positions to select data.
- It accepts integer-based inputs for both rows and columns.
- You can use it to select specific rows and columns by their integer positions.
- The syntax for iloc is df.iloc[row_positions, column_positions].

In [34]:
index_labels = ['A', 'B', 'C', 'D', 'E']
data = [1, 2, 3, 4, 5]
series = pd.Series(index_labels, index=data)

In [35]:
print(series)

1    A
2    B
3    C
4    D
5    E
dtype: object

In [36]:
series.loc[2]

'B'

In [37]:
series.iloc[2]

'C'

- loc for explicit indexing.
- iloc for implicit indexing.

##### Example Series dictionary with loc & iloc

In [38]:
# Dictionary representing number of purchases for each novel
purchases_dict = {'Harry Potter': 100,
                  'To Kill a Mockingbird': 75,
                  'The Great Gatsby': 50,
                  'The Hunger Games': 120,
                  '1984': 90}
purchases_series = pd.Series(purchases_dict)

In [39]:
print(purchases_series)

Harry Potter             100
To Kill a Mockingbird     75
The Great Gatsby          50
The Hunger Games         120
1984                      90
dtype: int64

In [43]:
purchases_series.iloc[3]

120

In [46]:
purchases_series.loc['The Hunger Games']

120

## Object Frame


It seems like you're referring to a DataFrame object in pandas. A DataFrame is a two-dimensional labeled data structure with columns that can hold different data types, similar to a spreadsheet or SQL table. It is one of the primary pandas data structures used for data manipulation and analysis.

#### Example

In [70]:
# Dictionary representing number of purchases for each novel
purchases_dict = {'Harry Potter': 100,
                  'To Kill a Mockingbird': 75,
                  'The Great Gatsby': 50,
                  'The Hunger Games': 120,
                  '1984': 90}
purchases = pd.Series(purchases_dict)

In [71]:
print(purchases)

Harry Potter             100
To Kill a Mockingbird     75
The Great Gatsby          50
The Hunger Games         120
1984                      90
dtype: int64

In [68]:
# Dictionary representing supply for each novel
supply_dict = {'Harry Potter': 150,
                  'To Kill a Mockingbird': 175,
                  'The Great Gatsby': 155,
                  'The Hunger Games': 125,
                  '1984': 190}
supply = pd.Series(supply_dict)

In [69]:
print(supply)

Harry Potter             150
To Kill a Mockingbird    175
The Great Gatsby         155
The Hunger Games         125
1984                     190
dtype: int64

In [76]:
Novel = pd.DataFrame({'supply':supply, 'purchases':purchases})

In [77]:
Novel

                       supply  purchases
Harry Potter              150        100
To Kill a Mockingbird     175         75
The Great Gatsby          155         50
The Hunger Games          125        120
1984                      190         90

In [83]:
Novel['supply']

Harry Potter             150
To Kill a Mockingbird    175
The Great Gatsby         155
The Hunger Games         125
1984                     190
Name: supply, dtype: int64

In [89]:
Novel['supply']['The Great Gatsby']

155

### Data Frame from File CSV

#### Example

df = pd.read_csv('Titanic.csv')

In [79]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [116]:
# view info data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       177 non-null    object
 1   Sales      177 non-null    float64
 2   Series     141 non-null    object
 3   Release    177 non-null    object
 4   Genre      177 non-null    object
 5   Developer  177 non-null    object
 6   Publisher  177 non-null    object
dtypes: float64(1), object(6)
memory usage: 9.8+ KB

In [117]:
# View the Non NULL Count of Data

df.notnull().sum()

Name         177
Sales        177
Series       141
Release      177
Genre        177
Developer    177
Publisher    177
dtype: int64

In [118]:
# view the amount of NaN from the data

df.isnull().sum()

Name          0
Sales         0
Series       36
Release       0
Genre         0
Developer     0
Publisher     0
dtype: int64

In [127]:
# view list the last from data

df.tail(4)

,Name,Sales,Series,Release,Genre,Developer,Publisher
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,12/1/1994,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,10/1/2001,Business simulation,Microsoft,Blue Fang Games
175,StarCraft II: Heart of the Swarm,1.0,StarCraft,3/1/2013,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,11/1/2015,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment

In [125]:
# View row count and column count

df.shape

(177, 7)

In [123]:
# view columns

df.columns

Index(['Name', 'Sales', 'Series', 'Release', 'Genre', 'Developer',
       'Publisher'],
      dtype='object')

In [124]:
# view index

df.index

RangeIndex(start=0, stop=177, step=1)

#### More Example

In [141]:
df = pd.read_csv('Games Sales.csv')

In [142]:
df.head()

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,12/1/2017,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,11/1/2011,"Sandbox, survival",Mojang Studios,Mojang Studios
2,Diablo III,20.0,Diablo,5/1/2012,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,11/1/2006,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,5/1/2011,Action-adventure,Re-Logic,Re-Logic

In [119]:
# view info data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       177 non-null    object
 1   Sales      177 non-null    float64
 2   Series     141 non-null    object
 3   Release    177 non-null    object
 4   Genre      177 non-null    object
 5   Developer  177 non-null    object
 6   Publisher  177 non-null    object
dtypes: float64(1), object(6)
memory usage: 9.8+ KB

In [121]:
# View the Non NULL Count of Data

df.notnull().sum()

Name         177
Sales        177
Series       141
Release      177
Genre        177
Developer    177
Publisher    177
dtype: int64

In [122]:
# view the amount of NaN from the data

df.isnull().sum()

Name          0
Sales         0
Series       36
Release       0
Genre         0
Developer     0
Publisher     0
dtype: int64

In [130]:
# Display data from below

df.tail(4)

,Name,Sales,Series,Release,Genre,Developer,Publisher
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,12/1/1994,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,10/1/2001,Business simulation,Microsoft,Blue Fang Games
175,StarCraft II: Heart of the Swarm,1.0,StarCraft,3/1/2013,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,11/1/2015,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment

In [131]:
# Display information from columns in the form of numbers

df.describe()

            Sales
count  177.000000
mean     3.116949
std      4.937466
min      1.000000
25%      1.000000
50%      1.500000
75%      3.000000
max     42.000000

In [135]:
# Display the number of rows and number of columns

df.shape

(177, 7)

In [137]:
# Display columns

df.columns

Index(['Name', 'Sales', 'Series', 'Release', 'Genre', 'Developer',
       'Publisher'],
      dtype='object')

In [138]:
# Display index

df.index

RangeIndex(start=0, stop=177, step=1)

In [132]:
# Display the average of a column

df['Sales'].mean()

3.116949152542373

In [133]:
# Display the median of a column

df['Sales'].median()

1.5

In [134]:
# Display the mode of a column

df['Sales'].mode(1)

0    1.0
Name: Sales, dtype: float64

In [146]:
# Display min of a column

df['Sales'].min()

1.0

In [147]:
# Display max of a column

df['Sales'].max()

42.0

In [151]:
# Display Nan from a column

df[df['Series'].isnull()]

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,12/1/2017,Battle royale,PUBG Studios,Krafton
3,Garry's Mod,20.0,NaN,11/1/2006,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,5/1/2011,Action-adventure,Re-Logic,Re-Logic
10,Fall Guys,10.0,NaN,8/1/2020,Battle royale,Mediatonic,Devolver Digital
13,Rust,9.0,NaN,2/1/2018,Survival,Facepunch Studios,Facepunch Studios
20,Valheim,6.0,NaN,2/1/2021,Survival,Iron Gate,Coffee Stain Publishing
23,Cities: Skylines,5.0,NaN,3/1/2015,City-building,Colossal Order,Paradox Interactive
26,The Forest,5.0,NaN,4/1/2018,Survival,Endnight Games,Endnight Games
27,Cyberpunk 2077,4.5,NaN,12/1/2020,Action role-playing,CD Projekt Red,CD Projekt
28,DayZ,4.0,NaN,12/1/2013,Survival,Bohemia Interactive,Bohemia Interactive
49,Factorio,2.5,NaN,2/1/2016,Construction and management simulation,Wube Software,Wube Software
72,Magicka,2.0,NaN,1/1/2011,Action-adventure,Arrowhead Game Studios,Paradox Interactive
74,Planet Coaster,2.0,NaN,11/1/2016,Construction and management simulation,Frontier Developments,Frontier Developments
78,Space Engineers,2.0,NaN,10/1/2013,Simulation,Keen Software House,Keen Software House
80,Stickfight: The Game,2.0,NaN,9/1/2017,Fighting,Landfall Games,Landfall Games
82,The Binding of Isaac,2.0,NaN,9/1/2011,"Action-adventure, roguelike",Edmund McMillen & Florian Himsl,Headup Games
90,Stellaris,1.5,NaN,5/1/2016,"RTS, 4X, Grand Strategy",Paradox Development Studio,Paradox Interactive
92,Satisfactory,1.3,NaN,3/1/2019,Construction and management simulation,Coffee Stain Studios,Coffee Stain Publishing
96,Kingdom Come: Deliverance,1.1,NaN,2/1/2018,Action role-playing game,Warhorse Studios,Warhorse Studios
103,Blade Runner,1.0,NaN,11/1/1997,Point-and-click,Westwood Studios,Virgin Interactive
112,Cuphead,1.0,NaN,9/1/2017,Run and gun,StudioMDHR,StudioMDHR
119,Dungeon Lords,1.0,NaN,5/1/2005,Role-playing game,Heuristic Park,DreamCatcher Interactive
124,Full Throttle,1.0,NaN,4/1/1995,Graphic adventure,LucasArts,LucasArts
125,Glory of the Roman Empire,1.0,NaN,6/1/2006,City-building game,Haemimont Games,CDV Software
131,Hollow Knight,1.0,NaN,2/1/2017,Metroidvania,Team Cherry,Team Cherry
132,Hotel Giant,1.0,NaN,5/1/2002,Business simulation,Enlight Software,JoWood Productions
134,Imperivm: Great Battles of Rome,1.0,NaN,5/1/2005,Real-time strategy,Haemimont Games,FX Interactive
135,Just Survive[e],1.0,NaN,1/1/2015,Survival,Daybreak Game Company,Daybreak Game Company
136,Killing Floor,1.0,NaN,5/1/2009,First-person shooter,Tripwire Interactive,Tripwire Interactive
137,Machinarium,1.0,NaN,10/1/2009,"Graphic adventure, puzzle",Amanita Design,Amanita Design
139,Mordhau,1.0,NaN,4/1/2019,Action,Triternion,Triternion
140,Operation Flashpoint: Cold War Crisis,1.0,NaN,6/1/2001,Tactical shooter,Bohemia Interactive Studio,Codemasters
143,Prison Architect,1.0,NaN,9/1/2012,Construction and management simulation,Introversion Software,Introversion Software
159,Stardew Valley,1.0,NaN,2/1/2016,"Simulation, role-playing game",ConcernedApe,ConcernedApe[f]
165,The Stanley Parable,1.0,NaN,10/1/2013,Interactive fiction,Galactic Cafe,Galactic Cafe
172,Who Wants to Be a Millionaire?,1.0,NaN,11/1/1999,Trivia game,Jellyvision,Disney Interactive Studios

In [153]:
# View unique data from a column

df.Series.unique()

array([nan, 'Minecraft', 'Diablo', 'Warcraft', 'Half-Life', 'The Witcher',
       'StarCraft', 'The Sims', 'RollerCoaster Tycoon', 'Civilization',
       'Truck Simulator', 'Guild Wars', 'ARMA', 'The Last Ninja',
       'SimCity', 'Populous', 'Warhammer', 'Carmen Sandiego',
       'Dark Souls', 'Age of Empires', 'Command & Conquer', 'Crysis',
       'EverQuest', 'Life Is Strange', 'Theme Park', 'Caesar',
       'Lord of the Realm', 'Myst', 'Final Fantasy', '7 Days', 'Anno',
       "Baldur's Gate", 'Battlefield', 'Black\xa0&\xa0White', 'Cossacks',
       'Counter-Strike', 'Doom', 'Far Cry', 'Grand Theft Auto', 'Mafia',
       'Neverwinter Nights', 'POD', 'Spore', 'Stronghold',
       'Metal Gear Solid', 'Trucks Simulator', 'International Karate',
       'Sega Mega Drive and Genesis Classics', 'Resident Evil',
       'Street Fighter', 'Nier', 'Pac-Man', 'Alice',
       'Ark: Survival Evolved', 'BioShock', 'Commandos', 'Crusader Kings',
       'Danganronpa', 'Police Quest', 'Deer Hunter', 'Divinity',
       'Duke Nukem', 'Dungeon Siege', 'Empire Earth',
       'Europa Universalis', 'Frogger', 'Grand Prix', 'Harry Potter',
       'Hearts of Iron', 'Hidden & Dangerous', 'Hydlide',
       'Microsoft Flight Simulator', 'The Patrician', 'Phantasmagoria',
       'Psychonauts', 'Quake', 'Railroad Tycoon', 'Wolfenstein', 'Zork',
       'RoboCop', 'Total War', 'Runaway', 'Sacred', 'Star Wars',
       'Total Annihilation', 'Tetris', 'The Legend of Sword and Fairy',
       'Tropico', 'Unreal', 'Vietcong', 'Wing Commander', 'Zoo Tycoon'],
      dtype=object)

In [155]:
df['Sales'].unique()

array([42. , 33. , 20. , 17.2, 14. , 12. , 11. , 10. ,  9. ,  8. ,  7. ,
        6.5,  6. ,  5.5,  5. ,  4.5,  4. ,  3.6,  3.3,  3. ,  2.7,  2.5,
        2.1,  2. ,  1.8,  1.5,  1.3,  1.2,  1.1,  1. ])

In [156]:
# View the number of uniques from a column

df.Series.nunique()

91

In [157]:
# View proportion from a column

df.Series.value_counts()

Series
StarCraft                6
Command & Conquer        5
Civilization             4
Age of Empires           4
Warcraft                 3
                        ..
Alice                    1
Ark: Survival Evolved    1
BioShock                 1
Commandos                1
Zoo Tycoon               1
Name: count, Length: 91, dtype: int64

In [158]:
# How to call a specific columns

df[['Name', 'Genre', 'Developer']]

,Name,Genre,Developer
0,PlayerUnknown's Battlegrounds,Battle royale,PUBG Studios
1,Minecraft,"Sandbox, survival",Mojang Studios
2,Diablo III,Action role-playing,Blizzard Entertainment
3,Garry's Mod,Sandbox,Facepunch Studios
4,Terraria,Action-adventure,Re-Logic
...,...,...,...
172,Who Wants to Be a Millionaire?,Trivia game,Jellyvision
173,Wing Commander 3: Heart of the Tiger,Space combat simulation,Origin Systems
174,Zoo Tycoon,Business simulation,Microsoft
175,StarCraft II: Heart of the Swarm,Real-time strategy,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,Real-time strategy,Blizzard Entertainment

In [167]:
# Call 'Sales' whose value is 20

df[df['Sales']==20]

,Name,Sales,Series,Release,Genre,Developer,Publisher
2,Diablo III,20.0,Diablo,5/1/2012,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,11/1/2006,Sandbox,Facepunch Studios,Valve

In [168]:
# Call 'Sales' whose value > 20

df[df['Sales']>20]

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,12/1/2017,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,11/1/2011,"Sandbox, survival",Mojang Studios,Mojang Studios

In [169]:
# Call 'Sales' whose value <= 20

df[~(df['Sales']>20)]

,Name,Sales,Series,Release,Genre,Developer,Publisher
2,Diablo III,20.0,Diablo,5/1/2012,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,11/1/2006,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,5/1/2011,Action-adventure,Re-Logic,Re-Logic
5,World of Warcraft,14.0,Warcraft,11/1/2004,MMORPG,Blizzard Entertainment,Blizzard Entertainment
6,Half-Life 2,12.0,Half-Life,11/1/2004,First-person shooter,Valve,Valve (digital)
...,...,...,...,...,...,...,...
172,Who Wants to Be a Millionaire?,1.0,NaN,11/1/1999,Trivia game,Jellyvision,Disney Interactive Studios
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,12/1/1994,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,10/1/2001,Business simulation,Microsoft,Blue Fang Games
175,StarCraft II: Heart of the Swarm,1.0,StarCraft,3/1/2013,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,11/1/2015,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment

In [173]:
# Call 'Sales' whose value > 20 and Developer is PUBG Studios

df[(df['Sales']>20) & (df['Developer']=='PUBG Studios')]

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,12/1/2017,Battle royale,PUBG Studios,Krafton

In [175]:
# Call 'Sales' whose value < 20 or Developer is PUBG Studios

df[(df['Sales']<20) | (df['Developer']=='PUBG Studios')]

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,12/1/2017,Battle royale,PUBG Studios,Krafton
4,Terraria,17.2,NaN,5/1/2011,Action-adventure,Re-Logic,Re-Logic
5,World of Warcraft,14.0,Warcraft,11/1/2004,MMORPG,Blizzard Entertainment,Blizzard Entertainment
6,Half-Life 2,12.0,Half-Life,11/1/2004,First-person shooter,Valve,Valve (digital)
7,The Witcher 3: Wild Hunt,12.0,The Witcher,5/1/2015,Action role-playing,CD Projekt Red,CD Projekt
...,...,...,...,...,...,...,...
172,Who Wants to Be a Millionaire?,1.0,NaN,11/1/1999,Trivia game,Jellyvision,Disney Interactive Studios
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,12/1/1994,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,10/1/2001,Business simulation,Microsoft,Blue Fang Games
175,StarCraft II: Heart of the Swarm,1.0,StarCraft,3/1/2013,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,11/1/2015,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment

In [177]:
# Call 'Sales' value is between 12 and 33

df[(df['Sales']>12) & (df['Sales']<33)]

,Name,Sales,Series,Release,Genre,Developer,Publisher
2,Diablo III,20.0,Diablo,5/1/2012,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,11/1/2006,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,5/1/2011,Action-adventure,Re-Logic,Re-Logic
5,World of Warcraft,14.0,Warcraft,11/1/2004,MMORPG,Blizzard Entertainment,Blizzard Entertainment

##### Combination

In [180]:
df[['Name', 'Genre', 'Developer']][(df['Sales']>12) & (df['Sales']<33)]

                Name                Genre               Developer
2         Diablo III  Action role-playing  Blizzard Entertainment
3        Garry's Mod              Sandbox       Facepunch Studios
4           Terraria     Action-adventure                Re-Logic
5  World of Warcraft               MMORPG  Blizzard Entertainment